<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update Note</title>
</head>
<body>
    <h1>Notes App 📝</h1>

    <form th:action="@{/update/{id}(id=${note.id})}"
          method="post"
          th:object="${note}" >

        <input type="text"
        th:field="*{title}"
        >

    <br><br>

        <textarea th:field="*{content}"></textarea>

    <br><br>

        <button type="submit" >
            Save Note
        </button>

    </form>

</body>
</html>